<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Enviar Denuncia">
  <ion-content>
  <form name="form" novalidate on-valid-submit="enviarDenuncia()"> 
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="myActiveSlide">
      <ion-slide class="has-header"> 
        <div class="stable-bg">
           <div style="border-bottom:none !important; background : transparent; text-align:center;">
            <i class="fa fa-edit fa-4x" id="iconstep-ajust"></i>
            <h4 class="text stable"> L'événement</h4>
            </div>
          <div class="list card">
            <div class="item item-divider">
              Informações De Uso
            </div>
            <div class="item">
              <p>1) No Próximo Slide Você Colocara </br>Informações Gerais </br>Sobre Sua Denuncia</p>
            </div>
            <div class="item">
              <p>2) Após Preencher Corretamente Passe</br>Para o Pŕoximo Slide </br>E Preencha Sua Denuncia</p>
            </div>
            <div class="item">
              <p>3) No Slide Seguinte</br>Você Pode Enviar Fotos</br>Como Prova</p>
            </div>
            <div class="item">
              <p>4) No Último Slide</br>Você Revisara As Informações</br>Podendo Salvar No Seu Celular
              </br> Para Posterior Envio </br> Ou Enviar Logo
              </p>
            </div>
          </div>
        </div>            
      </ion-slide>
      <ion-slide class="has-header">
        <div style="border-bottom:none !important; background : transparent; text-align:center;">
            <i class="fa fa-edit fa-4x" ></i>
            <h4 class="text">Etapa 1</h4>
          </div>
        <div class="list card">
          <div class="item item-divider">Informações Gerais</div>
          <div class="item">
            <span class="input-label">Assunto</span>
            <input ng-model="novaDenuncia.assunto"  placeholder="Assunto" type="text">
          </div>
          
          <div class="item">
            <span class="input-label">Empresa</span>
            <input ng-model="novaDenuncia.empresa"  placeholder="Empresa" type="text">
          </div>

          <div class="item">
            <span class="input-label">Descritivo</span>
            <input ng-model="novaDenuncia.descritivo"  placeholder="Descritivo" type="text">
          </div> 
        </div>
      </ion-slide>
      <ion-slide class="has-header">
       <div style="border-bottom:none !important; background : transparent; text-align:center;">
            <i class="fa fa-edit fa-4x" ></i>
            <h4 class="text">Etapa 2</h4>
          </div>
        <div class="list card">
          <div class="item item-divider">
              Denuncia
          </div>
          <div class="item">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Denuncia</span>
                <textarea ng-model="novaDenuncia.denuncia"  placeholder="Digite sua reclamação (Até 1024 caracteres). " type="text">
                </textarea> 
            </label>
          </div> 
        </div>
      </ion-slide>
      <ion-slide class="has-header" ng-controller="ArquivosCtrl">
         <div style="border-bottom:none !important; background : transparent; text-align:center;">
            <i class="fa fa-edit fa-4x"></i>
            <h4 class="text">Etapa 3</h4>
          </div>
        <div class="padding text-center">
          <p class="item-divider">Clique no icone para anexar Fotos(Até 4 fotos)</p>
          <button ng-click="takePicture()" class="button button-energized-900 text-center"><i class="icon ion-camera"></i></button>
        </div>
        <ion-list>
          <ion-item ng-repeat="pic in pics">
            <div class="row">
              <div class="col col-50">
                <img style="width: 100%; height: auto;" ng-src="{{pic}}" />
              </div>
              <div class="col col-50">
                <button class="button button-energized-900">Retirar</button>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide> 
        <div class="has-header">
        <h3>Confira Os Dados</h3>
        <p>Empresa: {{novaDenuncia.empresa}}</p>
        <p>Assunto: {{novaDenuncia.assunto}}</p>
        <p>Descritivo: {{novaDenuncia.descritivo}}</p>
        <text>Denuncia: {{novaDenuncia.denuncia}}</text>
        <div class="button-bar"> 
            <button ng-click="showConfirm(novaDenuncia)" class="button-small button-energized-900 button-border icon-left">Salvar Localmente</button>
            <button type="submit" class="button-small button-energized-900 button-border icon-left">Enviar</button>
        </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </form>

    <button show="slideIndex != 4" class="button button-small icon ion-chevron-right icon-accessory button-calm-900" ng-click="nextSlide()">Próximo</button>
    <button ng-show="slideIndex > 0" class="button button-small icon ion-chevron-left icon-accessory button-calm-900" ng-click="previousSlide()">Voltar</button>
  </ion-content>
</ion-view>