<ion-view view-title="Area Principal">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero stable-bg flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.denuncias" class="tab-item">
                <i class="icon ion-speakerphone"></i> Denuncias
            </a>
            <a ui-sref="app.reclamacoes" class="tab-item">
                <i class="icon ion-sad-outline"></i> Reclamações
            </a>
            <a ui-sref="app.restrito-informacoes" class="tab-item">
                <i class="icon ion-information-circled"></i> Ferramentas
            </a>
        </div>
        <div class="list card">
          <img class="full-image" src="img/bg-prefeitura.jpg"/> 
        </div>
        </ion-content>
</ion-view>