<ion-view view-title="Denuncias/Reclamações">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero stable-bg flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.denuncias" class="tab-item">
                <i class="icon ion-speakerphone"></i> Denunciar
            </a>
            <a ui-sref="app.reclamacoes" class="tab-item">
                <i class="icon ion-sad-outline"></i> Reclamações
            </a>
            <a ui-sref="app.restrito-informacoes" class="tab-item">
                <i class="icon ion-information-circled"></i> Informações
            </a>
        </div>
        <h4 class="content padding double-padding-x">Denuncias Recentes</h4>
        <div class="row" ng-repeat="denuncia in ultimasDenuncias | limitTo:30">
            <div class="col">
                <div class="item item-button-right">
                        <span class="col-33">{{denuncia.empresa}}</span> 
                        <span class="col-33">-- {{denuncia.motivo}}</span>
                        <spanclass="col-33">-- {{denuncia.parecer}}</span>  
                    </div>
                </div>             
            </div>
        </div>
        </ion-content>
</ion-view>