<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/bg.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Procon App</h1>
            </div>
        </div>
        <div class="inicio">
            <p>
                <button ui-sref="app.login" class="col button button-small button-calm-900 ink">Login</button>
            </p>
             <p>
                 <button ui-sref="app.cadastro" class="col button button-small button-calm-900 ink">Cadastro</button>
             </p>
             
        </div>
        <div class="button-bar">
            <button ng-click="facebookSignIn()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Conectar Com Facebook</button>
        </div>
    </ion-content>
</ion-view>