<ion-view view-title="Denúncia ProCon Campina Grande" >
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <div class="row">
      <form name="form" novalidate on-valid-submit="enviarReclamacao()"> 
      	<div class="list card">
      		<div class="item item-divider">Reclamação</div>
      		
      		<div class="item">
      			<span class="input-label">Assunto</span>
            <input ng-model="reclamacao.assunto"  placeholder="Assunto" type="text">
      		</div>
      		<div class="item">
      			<span class="input-label">Descritivo</span>
            <input ng-model="reclamacao.descritivo"  placeholder="Assunto" type="text">
      		</div>
      		<div class="item">
                <select  ng-model="reclamacao.desejo" ng-options="desejo as desejo.nome for desejo in opcoes.desejos" required >
                      <option value="">O Que Deseja?</option>
                </select>
      		</div>

      	<div class="row">
      		<div class="col col-50">
      			<label class="item item-input item-stacked-label">
                <span class="input-label">Nota Fiscal/COO</span>
                <input ng-model="reclamacao.nota"  placeholder="Nota / COO" type="text">
              </label>
      		</div>
      		<div class="col col-50">
      			<label class="item item-input item-stacked-label">
                <span class="input-label">N OS/ Protocolo</span>
                <input ng-model="reclamacao.nOs" placeholder="N. OS/Protocolo" type="text">
      		</div>
      	</div>

      	<div class="row">
      		<div class="col">
      			<label class="item item-input item-stacked-label">
                <span class="input-label">Produto / Serviço</span>
                <input ng-model="reclamacao.item"  placeholder="Produto / Serviço" type="text">
              </label>
      		</div>
      	</div>

      	<div class="row">
      		<div class="col col-50">
      			<label class="item item-input item-stacked-label">
                <span class="input-label">Nota Fiscal/COO</span>
                <input ng-model="reclamacao.nPedido"  placeholder="N. Pedido" type="text">
              </label>
      		</div>
      		<div class="col col-50">
      			<label class="item item-input item-stacked-label">
                <span class="input-label">N. Contato/Cliente </span>
                <input ng-model="reclamacao.nCliente" placeholder="N. Contato/Cliente" type="text">
      		</div>
      	</div>

      	<div class="row">
      		<div class="col">
      		  <label class="item item-input item-stacked-label">
                <span class="input-label">Empresa / Reclamado</span>
                <input ng-model="reclamacao.reclamado"  placeholder="Empresa / Reclamado" type="text">
              </label>
      		</div>
      	</div>

      	<div class="row">
      		<div class="col">
				<label class="item item-input item-stacked-label">
                <span class="input-label">Reclamação</span>
                <textarea ng-model="reclamacao.denuncia"  placeholder="Digite sua reclamação (Até 1024 caracteres). " type="text">
                </textarea>	
        </label>
      		</div>
      	</div>

      	</div>
      	<button type="submit" ng-click="postReclamacao(reclamacao)" class="button button-block button-positive" ng-disabled="form.$invalid">
        {{!(form.$invalid) ? "Enviar Denuncia" : "Preencha todos os dados solicitados"}} 
      </button> 
      </form>
    </div>
  </ion-content>
</ion-view>