<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Denuncia" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/denuncia">
    <ion-nav-view name="tab-denuncia"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Acompanhameto" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Sobre" icon-off="ion-flag" icon-on="ion-flag" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>