<ion-view view-title="Area De Denuncias">
    <ion-content>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.denuncias-enviadas" class="tab-item">
                <i class="icon ion-ios-compose"></i> Enviadas
            </a>
            <a ui-sref="app.denuncias-local" class="tab-item">
                <i class="icon ion-ios-cart"></i> Não Enviadas
            </a>
            <a ui-sref="app.add-denuncia({Id:null})" class="tab-item">
                <i class="icon ion-ios-book"></i> Nova Denúncia
            </a>
        </div>
    </ion-content>
</ion-view>
