<ion-view view-title="Procon Campina Grande" align-title="left">
    <ion-content style="background: url(img/login-calm.jpg) center; background-size: cover;">
        <div class="hero header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="inicio">
            <p class="button-bar">
                <button ui-sref="app.login" class="button button-small button-calm-900 ink">Login</button>
            </p>
             <p class="button-bar">
                 <button ui-sref="app.cadastro" class="button button-small button-calm-900 ink">Cadastro</button>
             </p>
        </div>
        <div class="button-bar">
            <button ng-click="vm.facebookSignIn()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Conectar Com Facebook</button>
        </div>
    </ion-content>
</ion-view>