<ion-view view-title="Procon CG Fiscalização" align-title="left">
    <ion-content style="background: url(img/gray.jpg) center; background-size: cover;">
        <div class="hero header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        <div class="inicio">
            <p class="button-bar">
                <button ui-sref="app.login" class="button button-small button-calm-900 ink">Login</button>
            </p>
        </div>
        <div class="text-center ">
            <h3 class="fisc">
                Fiscalização
            </h3>
        </div>
    </ion-content>
</ion-view>