<ion-view view-title="Digilência No. {{vm.id}}">
    <ion-content scroll="true" >
         <div class="tabs tabs-stable tabs-icon-top static">
            <a ng-click="vm.show(2)" class="tab-item">
                <i class="icon ion-briefcase"></i> Empresa
            </a>
            <a ng-click="vm.show(3)" class="tab-item">
                <i class="icon ion-document"></i> Denúncia
            </a>
             <a ng-click="vm.show(4)" class="tab-item">
                <i class="icon ion-images"></i> Provas
            </a>
            <a ng-click="vm.show(5)" class="tab-item">
                <i class="icon ion-compose"></i> Finalizar
            </a>
            <a ng-if="$parent.loginData.isAdmin" ng-click="vm.show(6)" class="tab-item">
                <i class="icon ion-person"></i> Mudar Fiscal
            </a>
        </div>
        <div class="content">
            <div class="list padding" ng-show="vm.showEmpresa">
                <div class="item">
                   <b>Nome Fantasia: </b> {{vm.fiscalizacao.Empresa.NomeFantasia}}
                   
                </div>
                <div class="item">
                   <b>Cnpj: </b> {{vm.fiscalizacao.Empresa.Cnpj | maskcpf}}
                </div>
                <div class="item">
                    <b>Cep: </b> {{vm.fiscalizacao.Empresa.Endereco.Cep | maskcep}}
                </div>
                <div class="item">
                    <b>Rua: </b> {{vm.fiscalizacao.Empresa.Endereco.Rua}} , Numero : {{vm.fiscalizacao.Empresa.Endereco.Numero}}
                </div>
                <div class="item">
                    <b>Bairro: </b> {{vm.fiscalizacao.Empresa.Endereco.Bairro}}
                </div>
                <div class="item">
                    <button class="button button-block button-positive icon-left ion-map" ng-click="vm.openGeo(vm.fiscalizacao.Empresa.Endereco)" >Localizar Endereço</button>
                </div>       

            </div>
            <div class="list card" ng-show="vm.showConstatacao">
                <div class="item item-text-wrap" >
                    <h3 class="text-center">
                      <b>  Ocorrido </b>
                    </h3>
                    <p>
                        {{vm.fiscalizacao.Constatacao}}
                    </p>
                </div>
                <hr />
                <div class="item item-text-wrap" > 
                    <h3 class="text-center">
                       <b> Reclamante </b>
                    </h3>
                </div>
                <div class="item">
                    <b>Nome: </b> {{vm.consumidor.Nome}}
                </div>
                <div class="item">
                    <b>Email: </b> {{vm.consumidor.Email}}
                </div>
                <div class="item">
                    <b>Telefone: </b> {{vm.consumidor.Telefone}}
                </div>

            </div>
            <div class="list" ng-show="vm.showProvas">
                <button  class="button button-block button-positive icon-left ion-arrow-down-a" ng-click="vm.carregar(vm.fiscalizacao.FatoId)" >Carregar Provas</button>
                <div class="card-item">
                    <a class="image">
                        <div class="item" ng-repeat="imagem in vm.provas">
                            <img style="height: 500px; width: auto; display:block;" ng-src="{{imagem.url}}" alt="prova">
                        </div>
                    </a>
                </div>
            </div>
            <div class="list" ng-show="vm.showFinalizar">
               <form >
                    <label class="item item-input item-stacked-label">
                        <span>Mensagem:</span>
                        <input ng-model="vm.dados.Mensagem" type="text" placeholder="Mensagem para o Consumidor" maxlenght="100">
                    </label>
                    <div class="item item-input item-select">
                        <label for="repeatSelect"> Situação: </label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="vm.dados.StatusId">
                            <option ng-repeat="option in vm.tipos" value="{{option.StatusId}}">{{option.Nome}}</option>
                        </select>
                    </div>
                  <div class="padding">
                      <label>
                        <span class="input-label">Data</span>
                        <input type="date" data-date-format="DD MM YY"  placeholder="DD MM YY" ng-model="vm.dados.DataConclusao">
                    </label>
                  </div>
                    <div>
                        
                    </div>
                    <div class="padding">
                        <button class="button button-block button-positive icon-left ion-edit" ng-click="vm.finalizar(vm.dados)">Finalizar</button>
                    </div>
               </form>
            </div>

            <div class="list" ng-show="vm.showMudarAgente">
                
                <div class="item item-input item-select">
                    <label for="repeatSelect"> Fiscais: </label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="vm.dados.AgenteId">
                        <option ng-repeat="option in vm.agentes" value="{{option.AgenteId}}">{{option.Nome}}</option>
                    </select>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive icon-left ion-edit" ng-click="vm.mudarAgente(vm.id,vm.dados.AgenteId)">Mudar Fiscal</button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>